.rose-item {
  flex: 1;
  max-width: 300px;
  height: auto;
  position: relative;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling text content */
.rose-content {
  white-space: pre-wrap;
}

.rose-date {
  font-size: 12px;
  margin: 0;
}
